header{
    color: rgb(14, 7, 7); background-color: rgb(236, 127, 38);
font-family: sans-serif;



}
body{
    background-color: rgb(39, 38, 43); color: antiquewhite;

}
#home title{
    font-weight: 200

}
.title{
    font-family: Arial, Helvetica, sans-serif;
    
}
.navB{
    margin: 50px;
    color: rgb(34, 27, 41);
    font-family: 'Courier New', Courier, monospace;
}